---
import PageLayout from '../layouts/BaseLayout.astro'

import AboutSection from '@/components/home/AboutSection.astro'
import CertificationSection from '@/components/home/CertificationSection.astro'
import EducationSection from '@/components/home/EducationSection.astro'
import ExperienceSection from '@/components/home/ExperienceSection.astro'
import PostSection from '@/components/home/PostSection.astro'
import ProfileSection from '@/components/home/ProfileSection.astro'
import ProjectSection from '@/components/home/ProjectSection.astro'
import SkillSection from '@/components/home/SkillSection.astro'
import { siteConfig } from '@/site-config'
import { getAllPosts, sortMDByDate } from '@/utils'

const skills = {
	languages: ['lorem', 'ipsum'],
	frontend: ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem', 'ipsum', 'lorem'],
	backend: ['lorem', 'ipsum', 'lorem', 'ipsum'],
	others: ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem']
}

const experiences = [
	{
		title: 'Software Engineer II',
		company: 'Grupo Botic치rio, Brazil',
		period: 'Sep 2024 - Present',
		attributions: [
			'Lorem, ipsum dolor Grupo Botic치rio adipisicing elit. Dolore debitis recusandae, utmolestiae laboriosam pariatur!',
			'Lorem ipsum dolor Grupo Botic치rio adipisicing elit. Molestiae, pariatur!'
		]
	},
	{
		title: 'Software Engineer I',
		company: 'Grupo Botic치rio, Brazil',
		period: 'Aug 2021 - Sep 2024',
		attributions: ['Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!']
	}
]

const education = [
	{
		title: 'Bachelor in Computer Science',
		instituition: 'Universidade Salvador (UNIFACS)',
		period: 'Jan 2020 - Jan 2024',
		description: `Bachelor's Degree in Computer Science where I learned Core Programming Foundations`,
		attributions: [
			'Algorithms and Programming Logic using C',
			'Data Structures implemented in C++',
			'Object-Oriented Programming with Java',
			'Programming Paradigms (Functional and Logic) using Scheme and Prolog',
			'Data Science and Machine Learning using Python'
		]
	}
]

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: siteConfig.title }}>
	<div class='flex w-full flex-col gap-y-10'>
		<ProfileSection />
		<AboutSection />
		{allPostsByDate.length > 0 && <PostSection posts={allPostsByDate} />}

		<ExperienceSection experiences={experiences} />

		<EducationSection education={education} />

		<ProjectSection />

		<CertificationSection />

		<SkillSection />
	</div>
</PageLayout>
